.App {
  text-align: center;
  padding: 5px;
}

.allPosts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.jobPost {
  border: 2px black solid;
  width: 45%;
  margin: 4px;
  position: relative;
  padding: 0px;
  background-color: yellow;
}

.text {
  font-family: 'Ubuntu', sans-serif;
  /* font-family: 'Chilanka', cursive; */
}

.createdAt {
  position: absolute;
  right: 10px;
  bottom: 0;
  margin-bottom: 0;
  margin-right: 5px;
}

.area {
  position: absolute;
  right: 10px;
  top: 0;
  margin-top: 10px;
  margin-right: 5px;
}

.employer {
  text-align: left;
  margin-left: 12px;
  margin-top: 35px;
}

.jobType {
  font-weight: bolder;
  text-align: left;
  margin-left: 12px;
  margin-bottom: 40px;
}

.createdAt {
  margin-bottom: 10px;
}